<head>
<script src="https://kit.fontawesome.com/1d25e96ad1.js" crossorigin="anonymous"></script>
</head>

<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to
        <i class="fa-solid fa-book"></i>
        <strong>Bookers</strong>!!
      </h1>
    </div>
  </div>
</div>
